* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.btn-primary {
    background-color: #FF9900;
    border: 0px;
    padding: 15px 40px;
    font-size: 16px;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #cc7e08;
    border: 0px;
}

.btn-secondary {
    background: none;
    border: 1px solid #BCD0E5;
    padding: 15px 40px 15px 40px;
    font-size: 16px;
    font-weight: bold;
    color: #173A56;
}

.btn-secondary:hover {
    background: none;
    border: 1px solid rgb(159, 177, 197);
    color: #173A56;
}

.herobwa h1{
    font-weight: bold;
}

.herobwa p{
    font-weight: 400;
    font-size: 18px;
}

.navbar-nav .navbar-link {
    color: #2F281E;
}

.productbwa h1 {
    font-weight: bold;
    font-size: 36px;
}

.card {
    border: none;
    background-color: rgba(255, 242, 242, 0.629);
}

.card-title {
    font-weight: 600;
    font-size: 22px;
}

.card-text {
    font-size: 16px;
    font-weight: 400;
}

.background {
    background-color: rgba(255, 242, 242, 0.629);
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
}

.effortless img {
    margin-left: 146px;
}

.effortless p {
    font-size: 16px;
    font-weight: 500;
}

.effortless h1 {
    font-size: 36px;
    font-weight: bold;
}

.effortless .effortless-desc {
    font-size: 16px;
    font-weight: bold;
}

.product-mana p {
    font-size: 16px;
    font-weight: 500;
}

.product-mana h1 {
    font-size: 36px;
    font-weight: bold;
}

.marketers img {
    margin-left: 146px;
}

.marketers p {
    font-size: 16px;
    font-weight: 500;
}

.marketers h1 {
    font-size: 16px;
    font-weight: bold;
}

.marketers .marketers-desc {
    font-size: 16px;
    font-weight: bold;
}




@media only screen and (max-width: 768px) {
    .btn-secondary, .btn-primary {
        margin-left: 0 !important;
        margin-top: 10px;
    }
    .effortless img {
        margin: 0 !important;
    }
    .marketers img {
        margin: 0 !important;
    }

}

@media (min-width: 576px) { 
    
}


@media (min-width: 768px) { 
    
}

